<!-- Modal -->
<div class="modal fade" id="OfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">PUT OFFER</h4>
            </div>
            <div ng-form="">
                <div class="modal-body">
                    <input ng-model="id" type="hidden"/>
                   !! {{tender.id}}Name:
                    <input  ng-required="true" ng-model="offer.name"/>
                    Count:
                    <input  ng-required="true" ng-model="offer.cnt"/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="putOffer(tender.id, offer)">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>