<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-user fa-fw"></i> {{people.name}}
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a ng-click="edit(people)" data-toggle="modal" data-target="#PeopleModal">Edit</a></li>
                    <li><a ng-click="delete(people)">Delete</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        phone: {{people.phone}}
    </div>

</div>
