<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-user fa-fw"></i> {{tender.tenderRequest.from.name}}
        <div class="pull-right">
            <div class="btn-group">
                <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">-->
                    <!--Actions-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu pull-right" role="menu">-->
                    <!--<li><a ng-click="edit(people)" data-toggle="modal" data-target="#TenderModal">Edit</a></li>-->
                    <!--<li><a ng-click="delete(people)">Delete</a></li>-->

                <!--</ul>-->
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        Name: {{tender.tenderRequest.name}}<br>
        Count: {{tender.tenderRequest.cnt}}<br>
        {{tender}}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default"  >
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#requests{{tender.id}}">Requests</a>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body collapse panel-collapse" id="requests{{tender.id}}">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion">Collapsible Group Item #1</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

</div>
